.wrapper {
	background-color: #f9fafe;
	padding: 5rem 0;
	.inner{
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	.header {
		background: #2563eb26;
		border-radius: 15px;
		text-align: center;
		padding: 0.5rem 0;
	}
		h1 {
			position: relative;
			font-family: Manrope;
			font-size: 32px;
			font-weight: 600;
			line-height: 43.71px;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: rgba(0, 0, 0, 1);
		}

		.general_title {
			position: relative;
			display: inline-block;
			padding: 1rem;
			text-align: center;
			border-radius: 5px;
			color: #000;
		}

		.general_title::before,
		.general_title::after {
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			background: rgba(183, 204, 250, 0.1);
		}

		.general_title::before {
			top: 10px;
			left: 0px;
			width: 20px;
			height: 20px;
			background: rgba(183, 204, 250, 0.1);
			border: 5px solid #2563eb;
			clip-path: polygon(0 0, 100% 0, 0 100%);
		}

		.general_title::after {
			bottom: 10px;
			right: 3px;
			width: 20px;
			height: 20px;
			background: rgba(183, 204, 250, 0.1);
			border: 5px solid #2563eb;
			clip-path: polygon(100% 100%, 0 100%, 100% 0);
		}
	.description {
		font-family: Manrope;
		font-size: 16px;
		font-weight: 500;
		line-height: 21.86px;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		color: #696969;
		padding-left: 1rem;
		margin-bottom: 1rem;
		border-left: 3px solid #2563eb;
	}
	.images {
		display: flex;
		gap: 2rem;
		.card {
			width: 100%;
			height: auto;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			background-color: #fff;
			box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
			padding: 40px 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;
			a{
				text-decoration: underline;
			}
		}
	}
}
