.wrapper {
  background: linear-gradient(135deg, #001f7a, #0036b3);
  box-shadow: 11px 10px 0px 4px rgb(49, 112, 249);
  border-radius: 30px;
  padding: 8rem 3rem;
  height: max-content;
  position: relative;
  overflow: hidden;
  color: #fff;
  width: 70%;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    padding: 4rem 6rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 3rem;
    text-align: center;
  }
}

.content {
  // max-width: 60%;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 28px;
  }
}

.button {
  background: #fff;
  color: #0036b3;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #FF6600;
  }
}

.imageWrapper {
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translate(20%, -50%);
  z-index: 1;

  @media (max-width: 1024px) {
    right: 1rem;
    transform: translate(0, -50%);
    width: 100%;
  }

  @media (max-width: 768px) {
    position: static;
    transform: none;
    margin-top: 2rem;
    width: 80%;
  }
}

.image {
  width: 100%;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
